p{
    font-style: initial;
    color:darkolivegreen;
}
#gaga{
    color:#F2B705;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 15%;
    background-color:red;
}

h3{
    margin: 50px;
    border-style: dotted;
}